Source: dzen2
Section: x11
Priority: optional
Maintainer: Javier Lopez <chilicuil@ubuntu.com>
Build-Depends: debhelper (>= 9), dh-buildinfo, pkg-config, libx11-dev, libxinerama-dev, libxpm-dev, libxft-dev
Standards-Version: 3.9.4
Homepage: https://github.com/minos-org/dzen2
Vcs-Git: git://github.com/minos-org/dzen2-deb.git
Vcs-Browser: http://github.com/minos-org/dzen2-deb

Package: dzen2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: General-purpose messaging and notification program for X11
 Dzen was designed to be scriptable in any language and integrate well
 with window managers like dwm, wmii and xmonad though it will work
 with any window manger.
